<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true"
               name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout type="PatternLayout" pattern="%d %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red, ERROR=red, WARN=yellow, INFO=blue}  %style{%c}{cyan} : %style{%t}{red} %style{%m%n}{green}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>